<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2454.160923063218!2d5.533106315968086!3d52.040381979726334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c651ed25f46b09%3A0x81e7cc9c6ebcb18f!2sInfo+Support!5e0!3m2!1snl!2snl!4v1485208110028" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="col-sm-4">
        <div class="footer-contact">
          <div class="footer-contact-head">Bedrijfsgegevens</div>
          <div>Kantilever B.V.</div>
          <div>Kruisboog 42</div>
          <div>3905 TG Veenendaal</div>
          <div>IBAN: NL44 INGB 00058 54051</div>
          <div>K.v.K. 3013 5370</div>
          <div>BTW NL8062.30.277.B01</div>
          <div class="footer-terms">
            <a href="assets/documents/voorwaarden.pdf" target="_blank">Bekijk hier de voorwaarden</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-contact">
          <div class="footer-contact-head">Neem contact met ons op</div>
          <div>Tel: +31 318 552020</div>
          <div>Email: info@kantilever.nl</div>
        </div>
      </div>
    </div>
  </div>
</footer>
