$color_secondary: black,20;
$color_background: white;
$color_light_transparant: rgba(170,177,228, 0.5);
$color_head_text: #337AB7;
$color_button: #337AB7;
$color_border: #C3C1BC;
$color_background_tabs: #F6F3ED;
$color_black: #333333;
$color_footer: #f5f5f5;
$color_error: #d12c2a;

