<div ng-init="vm.init()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Catalogus</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="background-light-transparant">
            Filters
          </div>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="catalog-categories background-light-transparant">
              <div ng-repeat="category in vm.categories" class="category col-sm-4" ui-sref="catalog-category({category:category.canonicalName})">
                <img ng-src="{{category.image}}" class="img-responsive">
                <div class="category-name">{{category.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
