.catalog-categories, .catalog-products{
  padding:0;

  .category, .product{
    margin-bottom:30px;

    .category-image-container, .product-image-container{
      overflow: hidden;

      .category-image, .product-image{
        overflow: hidden;
        -webkit-transition:all 0.25s ease-in-out;
        -moz-transition:all 0.25s ease-in-out;
        -o-transition:all 0.25s ease-in-out;
        -ms-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
        width:100%;
        height:200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #ffffff;
      }
    }
    .category-name, .product-name{
      color: $color_secondary;
      text-transform:uppercase;
      text-align: center;
      font-weight: 400;
      height:20px;
      text-overflow: ellipsis;
      display: block;
      white-space: nowrap;
      overflow: hidden;
    }

    .product-price{
      font-size: 20px;
    }

    &:hover{
      cursor: pointer;
      .category-image, .product-image{
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
      }
    }
  }
}

.product{
  text-align: right;
}

.product-detail{
  .product-detail-supplier-id{
    font-size: 18px;
  }
  .product-detail-image{
    width:100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  .product-detail-description-container{
    .product-detail-price{
      font-size: 30px;
      color: $color_secondary;
    }
    .btn-cart{
      border-radius: 0;
      float:right;
      margin-top:15px;
      background: $color_button;
      color:white;
    }
  }
}


.filter-container{
  padding:5px;

  .checkbox{
    margin-left:20px;
    font-weight: normal;
  }

  .rz-pointer.rz-pointer-min{
    background-color: $color_head_text;
    &.rz-active:after{
      background-color: white;
    }
  }

  .rzslider .rz-bubble{
    color:$color_secondary;
  }
}
