<div ng-init="vm.init()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Catalogus</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="background-light-transparant">
            Filters
          </div>
        </div>
        <div class="col-sm-10">
          <div class="row catalog-categories background-light-transparant">
            <div class="col-sm-12">
              <div class="breadcrumb"><a ui-sref="home"><span class="fa fa-home"></span></a> <span class="fa fa-chevron-right"></span> catalog</div>
            </div>

            <div ng-repeat="category in vm.categories" class="col-sm-4" ui-sref="catalog-category({categoryName:category.canonicalName, category: category})">
              <div class="clearfix" ng-if="$index % 3 == 0"></div>
              <div class="category">
                <div class="category-image-container">
                  <div class="category-image" style="background-image: url('{{category.image}}')"></div>
                </div>
                <div class="category-name">{{category.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
