<div ng-init="vm.init()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title">Catalogus</h1>
        </div>
      </div>
      <div class="row row-eq-height">
        <div class="col-sm-3">
          <div class="background-light-transparant">
            <div class="filter-container">
              <div class="filter-category-name">
                Categorieën
              </div>
              <div class="form-group">
                <label class="checkbox" ng-repeat="category in vm.categories | limitTo:vm.categoryFilterLimit">
                  <input type="checkbox" name="categoryFilters" ng-model="vm.categoryFilters[category._id]" ng-change="vm.getProducts();">{{category.name}}
                </label>
                <div ng-if="vm.categoryFilterLimit <= vm.categoryDefaultFilterLimit && vm.categories.length > vm.categoryFilterLimit">
                  <div class="filter-more" ng-click="vm.categoryFilterLimit = vm.categories.length">meer..</div>
                </div>
                <div ng-if="vm.categoryFilterLimit > vm.categoryDefaultFilterLimit && vm.categoryDefaultFilterLimit < vm.categories.length">
                  <div class="filter-more" ng-click="vm.categoryFilterLimit = vm.categoryDefaultFilterLimit">minder..</div>
                </div>
              </div>

              <div class="filter-category-name">
                Merken
              </div>

              <div class="form-group">
                <label class="checkbox" ng-repeat="brand in vm.brands | limitTo:vm.brandFilterLimit">
                  <input type="checkbox" name="brandFilters" ng-model="vm.brandFilters[brand._id]" ng-change="vm.getProducts();">{{brand.name}}
                </label>
                <div ng-if="vm.brandFilterLimit <= vm.brandDefaultFilterLimit && vm.brands.length > vm.brandFilterLimit">
                  <div class="filter-more" ng-click="vm.brandFilterLimit = vm.brands.length">meer..</div>
                </div>
                <div ng-if="vm.brandFilterLimit > vm.brandDefaultFilterLimit && vm.brandDefaultFilterLimit < vm.brands.length">
                  <div class="filter-more" ng-click="vm.brandFilterLimit = vm.brandDefaultFilterLimit">minder..</div>
                </div>
              </div>

              <div class="filter-category-name">
                Maximale prijs
              </div>
              <div>
                <rzslider
                  rz-slider-model="vm.slider.value"
                  rz-slider-options="vm.slider.options"></rzslider>
              </div>
              <div class="form-group">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" ng-model="vm.selectedFilterName" placeholder="Productnaam" ng-change="vm.getProducts()">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="container-fluid">
            <div class="row catalog-categories background-light-transparant">
              <div class="col-sm-12">
                <div class="breadcrumb"><a ui-sref="home"><span class="fa fa-home"></span></a> <span class="fa fa-chevron-right"></span> catalog</div>
              </div>

              <div ng-repeat="product in vm.listItems" class="col-sm-4"
                   ui-sref="catalog-product({productId: product.id, product: product})">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="category">
                  <div class="category-image-container">
                    <div class="category-image" ng-if="product.imgUrl" style="background-image: url('{{product.imgUrl}}')"></div>
                  </div>
                  <div class="category-name" style="text-align: right">{{product.name}}</div>
                  <div class="category-name" style="text-align: right">{{product.brand.name}}</div>
                  <div class="product-price" style="float: right">&euro;{{product.price}}</div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="col-sm-12">
                  <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.getProducts()" class="pagination-sm" items-per-page="vm.itemsPerPage"></uib-pagination>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
</div>
