<style>
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
</style>

<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kies een categorie
            <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Categorieën <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <div ng-repeat="category in vm.categories | limitTo:vm.limit">
                  <li><a href="#"> {{ category }} </a></li>
                </div>
                <li><a href="#">Meer...</a> </li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Merken <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <div ng-repeat="brand in vm.brands | limitTo:vm.limit">
                  <li><a href="#"> {{ brand }} </a></li>
                </div>
                <li><a href="#">Meer...</a> </li>
              </ul>
            </li>
          </ul>
        </li>

        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function(){
    $('.dropdown-submenu a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>
