.navbar{
  height:100%;
  .navbar-brand{
    height:130px;
    .navbar-logo{
      max-height:90px;
    }
  }

  .nav.navbar-nav{
    margin-top:50px;
  }

  .menu-link{
    color:black !important;
    display: block;
    font-size: 20px;
    &.active{
      background: $color_head_text !important;
      color:white !important;
      &:hover{
        background: $color_head_text !important;
        color:white !important;
        cursor: default;
      }
    }
    &:hover{
      color:$color_head_text !important;
    }
    &.no-hover{
      &:hover{
        color: black !important;
      }
    }
  }
  .dropdown>a{
    font-size: 20px ;
    color:black !important;
  }
  .menu-shoppingcart{
    color:black !important;
  }
}

.header-user{
  a{
    font-size: 14px !important;
  }
  .fa{
    font-size: 20px !important;
  }
}



